body{
    background-color: #3f7cc5;
    background-image: url(gif/private\ plane.jpg);
    display: grid;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    grid-template-rows: auto auto auto auto auto auto auto auto;
}
header {
    display: grid;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    grid-template-rows: auto auto auto;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    font-family: lucida console, courier new;
    color: coral;

}
#logo {
     grid-column-start: 3;
    grid-column-end: 5;


}
#exit {
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;

}
#username {
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;

}
#kysymysnro {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;

}

main {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 6;
}

#kysymysalue {
    border: 10px outset rgb(18, 54, 91);
    border-radius: 25px;
    text-align: center;
    padding: 15px;
    margin: 5px;
    height: 200px;
    background-color: rgb(31, 96, 161);
    font-family: 'Courier New', Courier, monospace;
    color: coral;

}

footer{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 8;
}
#vastausalue {
    text-align: center;
    border-radius: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: coral;
}


#vastausalue input {
    padding: 15px;
    margin: 5px;
    border-radius: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(6, 18, 31);
}

#vastausalue button {
    width: 20%;
    padding: 25px;
    margin: 2%;
    border-radius: 25px;
    background-color: white;
    hover
    border-radius: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(6, 18, 31);
}




#vastausalue button:hover {
    background-color: lightgray;
    border-radius: 25px;
}


#oljenkorsialue {

}

#vihjealue {

}

#vastausnappi {

}

#oljenkorsinappi {

}

.hidden {
    display: none;
}

.continue_button {
    padding: 25px;
    margin: 5px;
    border-radius: 25px;
    background-color: white;
    hover
    border-radius: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(6, 18, 31);
}

#right_image{}

#game_over_image{}

* {
  box-sizing: border-box;
}
