body{
    background-color: #3f7cc5;
    background-image: url(gif/private\ plane.jpg);
    max-height: 100vw;

header {
    display: grid;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    grid-template-rows: auto auto auto;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    font-weight: bolder;
    font-family: lucida console, courier new;
    color: coral;

}
#logo {
     grid-column-start: 3;
    grid-column-end: 5;
    font-size: 5vw;


}
#exit {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 1vw;
    margin: 2%;
    border-radius: 5vw;
    color: rgb(6, 18, 31);
    font-size: 2vw;

}
#username {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
    font-size: 2vw;

}
#kysymysnro {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    font-

}

main {

}

#kysymysalue {
    border: 10px outset rgb(18, 54, 91);
    border-radius: 2vw;
    text-align: center;
    padding: 1vw;
    margin: 2%;
    height: 30vw;
    background-color: rgb(31, 96, 161);
    font-family: 'Courier New', Courier, monospace;
    color: coral;
    font-size: 2vw;

}

footer{

}
#vastausalue {
    text-align: center;
    border-radius: 2vw;
    font-family: 'Courier New', Courier, monospace;
    color: coral;

}


#vastausalue input {
    padding: 1vw;
    margin: 2%;
    border-radius: 2vw;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(6, 18, 31);
}

#vastausalue button {
    width: 20%;
    padding: 1vw;
    margin: 2%;
    border-radius: 5vw;
    background-color: white;
    border-radius: 2vw;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(6, 18, 31);
    font-size: 2vw;

}




#vastausalue button:hover {
    background-color: lightgray;
}


#oljenkorsialue {

}

#vihjealue {

}

#vastausnappi {

}

#oljenkorsinappi {

}

.hidden {
    display: none;
}

.continue_button {
    padding: 25px;
    margin: 5px;
    border-radius: 25px;
    background-color: white;
    hover
    border-radius: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(6, 18, 31);
}

#right_image{
    width: 50vw;
}

#game_over_image{
    width: 50vw;
}

* {
  box-sizing: border-box;
}
